{# Try to determine if there is math in what we are rendering. Doesn't work for indexes, so we assume they have math. #}
{%- set not_page_or_has_math = not page or 'class="math">' in page.content -%}
{%- set not_article_or_has_math = not article or 'class="math">' in article.content -%}
{%- set contains_math = not_page_or_has_math and not_article_or_has_math -%}
{%- if 'pelican_jsmath' in PLUGINS and contains_math -%}
	{%- set katex_version = "0.10.1" -%}
	{%- if MATH_SCRIPT_TYPE == 'katex-cdn' -%}
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@{{ katex_version }}/dist/katex.min.css" integrity="sha384-dbVIfZGuN1Yq7/1Ocstc1lUEm+AT+/rCkibIcC/OmWo5f0EA48Vf8CytHzGrSwbQ" crossorigin="anonymous" />
		<link href="https://cdn.jsdelivr.net/npm/katex@{{ katex_version }}/dist/contrib/copy-tex.css" rel="stylesheet" type="text/css" />
		<script defer src="https://cdn.jsdelivr.net/npm/katex@{{ katex_version }}/dist/katex.min.js" integrity="sha384-2BKqo+exmr9su6dir+qCw08N2ZKRucY4PrGQPPWU1A7FtlCGjmEGFqXCv5nyM5Ij" crossorigin="anonymous"></script>
		<script defer src="https://cdn.jsdelivr.net/npm/katex@{{ katex_version }}/dist/contrib/auto-render.min.js" integrity="sha384-kWPLUVMOks5AQFrykwIup5lo0m3iMkkHrD0uJ4H5cjeGihAutqP0yW0J6dpFiVkI" crossorigin="anonymous" onload="renderMathInElement(document.body);"></script>
		<script defer src="https://cdn.jsdelivr.net/npm/katex@{{ katex_version }}/dist/contrib/copy-tex.min.js" integrity="sha384-XhWAe6BtVcvEdS3FFKT7Mcft4HJjPqMQvi5V4YhzH9Qxw497jC13TupOEvjoIPy7" crossorigin="anonymous"></script>
	{%- elif MATH_SCRIPT_TYPE == 'katex-local' -%}
		{%- if 'assets' in PLUGINS -%}
			{%- assets filters="cssutils", output="js/katex-" ~ katex_version ~ "/combined.css", "js/katex-" ~ katex_version ~ "/katex.min.css", "js/katex-" ~ katex_version ~ "/contrib/copy-tex.min.css" -%}
				<link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}" integrity="{{ ASSET_SRI }}">
			{%- endassets -%}
			{%- assets filters="uglifyjs", output="js/katex-" ~ katex_version ~ "/combined.js", "js/katex-" ~ katex_version ~ "/katex.min.js", "js/katex-" ~ katex_version ~ "/contrib/auto-render.min.js", "js/katex-" ~ katex_version ~ "/contrib/copy-tex.min.js" -%}
				<script defer src="{{ SITEURL }}/{{ ASSET_URL }}" integrity="{{ ASSET_SRI }}" onload="renderMathInElement(document.body);"></script>
			{%- endassets -%}
		{%- else -%}
			<link rel="stylesheet" href="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/js/katex-{{ katex_version }}/katex.min.css" integrity="sha384-dbVIfZGuN1Yq7/1Ocstc1lUEm+AT+/rCkibIcC/OmWo5f0EA48Vf8CytHzGrSwbQ" crossorigin="anonymous" />
			<link href="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/js/katex-{{ katex_version }}/contrib/copy-tex.css" rel="stylesheet" type="text/css" />
			<script defer src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/js/katex-{{ katex_version }}/katex.min.js" integrity="sha384-2BKqo+exmr9su6dir+qCw08N2ZKRucY4PrGQPPWU1A7FtlCGjmEGFqXCv5nyM5Ij" crossorigin="anonymous"></script>
			<script defer src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/js/katex-{{ katex_version }}/contrib/auto-render.min.js" integrity="sha384-kWPLUVMOks5AQFrykwIup5lo0m3iMkkHrD0uJ4H5cjeGihAutqP0yW0J6dpFiVkI" crossorigin="anonymous" onload="renderMathInElement(document.body);"></script>
			<script defer src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/js/katex-{{ katex_version }}/contrib/copy-tex.min.js" integrity="sha384-XhWAe6BtVcvEdS3FFKT7Mcft4HJjPqMQvi5V4YhzH9Qxw497jC13TupOEvjoIPy7" crossorigin="anonymous"></script>
		{%- endif -%}
	{%- elif MATH_SCRIPT_TYPE == 'mathjax-cdn' -%}
		<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-AMS_CHTML' async></script>
	{%- endif -%}
{%- endif -%}
